annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
decorator==5.1.1
dimits==0.0.30a0
distro==1.9.0
espeak_phonemizer==1.3.1
executing==2.0.1
filelock==3.15.4
flatbuffers==24.3.25
fsspec==2024.6.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.7
ipdb==0.13.13
ipython==8.26.0
jedi==0.19.1
matplotlib-inline==0.1.7
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.18.1
openai==1.35.7
packaging==24.1
parso==0.8.4
pexpect==4.9.0
playsound==1.3.0
prompt_toolkit==3.0.47
protobuf==5.27.2
ptyprocess==0.7.0
pure-eval==0.2.2
PyAudio==0.2.14
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.18.4
Pygments==2.18.0
PyYAML==6.0.1
requests==2.32.3
setuptools==70.1.1
six==1.16.0
sniffio==1.3.1
soundfile==0.12.1
SpeechRecognition==3.10.4
stack-data==0.6.3
sympy==1.12.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
wheel==0.43.0
